

/*
Walking
green-light:#B2EBE2
dark-building:#024C5E
blade-runner:#04222A
illuminated:#137988

good_joe
body:#CC4EAA
hair:#1C2382
face:#DA9FBA

I_can_only_make_so_many
replicant: #D5C689
tank: #293722
light-wood: #C2860E
dark-wood: #A26102

In_the_fallout
sky: FFC023
sand: 942C01
breeze: F89419
blur:DF6D09

ask_you_some_questions
window:823A02

dark/bright mode
*/